<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    
</head>

<body>
    <div id="app">
        <header>
            <h2>天气查询</h2>
        </header>

        <div class="search-info">
            <input type="text" v-model="city" @keyup.enter="searchWeather" placeholder="输入城市" class="ipt-search">
            <button class="btn-search" @click="searchWeather">搜索</button>
        </div>
        <div class="cities" v-for="item in candidateCities">
            <a class="city" @click="citySearch(item)" v-cloak>{{item}}</a>
            <!-- <a class="city" @click="citySearch('北京')">北京</a>
            <a class="city" @click="citySearch('广州')">广州</a> -->
        </div>

        <!-- 温度显示区域 -->
        <div class="weather-info">
            <ul>
                <li v-for="item in weatherList">
                    <span v-cloak>{{item.type}}</span>
                    <p v-cloak>{{item.low}}~{{item.high}}</p>
                    <div v-cloak>{{item.date}}</div>
                </li>
                <!-- <li>
                    <span>多云</span>
                    <p>低温22°C~高温28°C</p>
                    <div>14日星期三</div>
                </li>
                <li>
                    <span>多云</span>
                    <p>低温22°C~高温28°C</p>
                    <div>14日星期三</div>
                </li>
                <li>
                    <span>多云</span>
                    <p>低温22°C~高温28°C</p>
                    <div>14日星期三</div>
                </li>
                <li>
                    <span>多云</span>
                    <p>低温22°C~高温28°C</p>
                    <div>14日星期三</div>
                </li> -->
            </ul>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                city:'',
                candidateCities:['北京','上海','广州'],
                weatherList:[]
            },
            methods:{
                searchWeather:function(){
                    var that=this;
                    axios.get('http://wthrcdn.etouch.cn/weather_mini?city='+this.city)
                    .then(function(response){
                        that.weatherList=response.data.data.forecast;
                    },function(err){
                        console.log(err);
                    })
                },
                citySearch:function(city){
                    this.city=city;
                    this.searchWeather();
                }
            }
        })
    </script>
</body>

</html>