* {
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 40px;
    margin-top: 60px;
    
    text-align: center;
}

.search-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-info .ipt-search{
    width: 350px;
    height: 40px;
    text-indent: 10px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgb(30,144,255);
}
.search-info .btn-search{
    width: 140px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 14px;
    background-color: rgb(30,144,255);
    cursor: pointer;
    outline: none;
}
.cities{
    width: 490px;
    margin: 0 auto;
}
.cities .city{
    float: left;
    color: rgb(182, 178, 178);
    font-size: 13px;
    margin: 5px 10px 0 0;
    cursor: pointer;
}

.weather-info{
    width: 850px;
    margin: 40px auto;
}
.weather-info li{
    list-style: none;
    float: left;
    width: 160px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.weather-info li:last-child{
    border-right:none
}
.weather-info span{
    color: red;
    font-size: 14px;
    font-weight: 600;
}
.weather-info p{
    color: red;
    font-size: 13px;
    line-height: 40px;
}
.weather-info div{
    color: rgb(182, 178, 178);
    font-size: 14px;
    margin-top: 15px;
}
[v-cloak]{
    display: none;
}
