<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div id="app">
        <div class="grid">
            <div>
                <h2>图书管理</h2>
                <div class="book">
                    <label for="id">编号：</label>
                    <input type="text" id="id" v-model='id' :disabled="idFlag" v-focus>
                    <label for="name">名称：</label>
                    <input type="text" id="name" v-model='name'>
                    <button @click='handle' :disabled="submitFlag">提交</button>
                </div>
                <div class="total">
                    <span>图书总数：</span>
                    <span>{{total}}</span>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key="item.id" v-for='(item,index) in books'>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date|format('yyyy-MM-dd')}}</td>
                        <td>
                            <a href="#" @click.prevent='toEdit(item.id)'>修改</a>
                            <span>|</span>
                            <a href="#" @click.prevent='toDelete(item.id)'>删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        axios.defaults.baseURL='http://localhost:3000'
        axios.interceptors.response.use((res)=>{
            return res.data
        },(error)=>{
            console.log(error);
        })

        //常用特性：自定义指令
        Vue.directive('focus', {
            inserted: function (el) {
                el.focus()
            }
        })
        //常用特性：过滤器
        Vue.filter('format', function (value, arg) {
            function dateFormat(date, format) {
                if (typeof date === "string") {
                    var mts = date.match(/(\/Date\((\d+)\)\/)/);
                    if (mts && mts.length >= 3) {
                        date = parseInt(mts[2]);
                    }
                }
                date = new Date(date);
                if (!date || date.toUTCString() == "Invalid Date") {
                    return "";
                }
                var map = {
                    "M": date.getMonth() + 1, //月份 
                    "d": date.getDate(), //日 
                    "h": date.getHours(), //小时 
                    "m": date.getMinutes(), //分 
                    "s": date.getSeconds(), //秒 
                    "q": Math.floor((date.getMonth() + 3) / 3), //季度 
                    "S": date.getMilliseconds() //毫秒 
                };
                format = format.replace(/([yMdhmsqS])+/g, function (all, t) {
                    var v = map[t];
                    if (v !== undefined) {
                        if (all.length > 1) {
                            v = '0' + v;
                            v = v.substr(v.length - 2);
                        }
                        return v;
                    } else if (t === 'y') {
                        return (date.getFullYear() + '').substr(4 - all.length);
                    }
                    return all;
                });
                return format;
            }
            return dateFormat(value, arg);
        })
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                idFlag: false,
                submitFlag:false,
                books: []
            },
            methods: {
                handle: async function () {
                    if (this.idFlag) {
                        //true:禁用状态，则为修改
                        //在books中根据id查找对应的book
                        this.books.some((item) => {
                            if (item.id == this.id) {
                                //将修改后的名称赋值给对应的book
                                item.name = this.name
                                return true
                            }
                        })
                        //修改完成后需要将编号的状态取消禁用
                        this.idFlag = false
                    } else {
                        //否则为添加
                        var ret=await axios.get('books',{
                            name:this.name
                        })
                        if(ret.status===200){
                            //重新加载图书列表数据
                            this.queryData()
                        }
                    }
                    //清空表单
                    this.id = ''
                    this.name = ''
                },
                toEdit: function (id) {
                    //禁止修改id
                    this.idFlag = true
                    //根据id找book
                    var book = this.books.filter(function (item) {
                        return item.id == id
                    })
                    this.id = book[0].id
                    this.name = book[0].name
                },
                toDelete: function (id) {
                    //方法一：利用filter方法把某个book从books中过滤掉
                    this.books = this.books.filter((item) => {
                        return item.id != id
                    })
                    //方法二：根据id找到对应的books索引
                    // var index=this.books.findIndex((item)=>{
                    //     return item.id==id
                    // })
                    // this.books.splice(index,1)
                },
                queryData: async function(){
                    this.books=await axios.get('/books')
                }
            },
            //常用特性：侦听器
            //验证图书名称是否已经存在
            watch:{
                name:function(val){
                    var nameFlag=this.books.some((item)=>{
                        return item.name===val
                    })
                    if(nameFlag){
                        //说明图书名称存在
                        this.submitFlag=true  //禁用提交按钮
                    }else{
                        this.submitFlag=false
                    }
                }
            },
            //常用特性：计算属性
            computed:{
                total:function(){
                    return this.books.length
                }
            },
            //生命周期
            //该生命周期钩子函数被触发时，模板已经可以使用
            //一般用于获取后台数据，然后把数据填充到模板
            mounted:function(){
                // var data=[{
                //     id: 1,
                //     name: '三国演义',
                //     date: 2525609975000
                // }, {
                //     id: 2,
                //     name: '水浒传',
                //     date: 2525609975000
                // }, {
                //     id: 3,
                //     name: '红楼梦',
                //     date: 2525609975000
                // }]
                this.queryData()
                
            }
        })
    </script>
</body>

</html>